# 🚫 Fichiers de données volumineux
data/
app/final/
script-load-data/merged_2024_01.csv

# 💣 Archives lourdes
spark-3.5.3-bin-hadoop3.tgz

# 🧪 Environnements et variables sensibles
.env
.env.*

# 🧹 Cache et fichiers temporaires Python
*.pyc
__pycache__/
.ipynb_checkpoints/
*.log

# 🗂️ Jupyter outputs
*.ipynb_checkpoints/
*.ipynb~*
*.out

# 🧪 VSCode / IDE
.vscode/
.idea/
.DS_Store

# 🔧 Fichiers SQLite (si jamais générés)
*.sqlite3
